body {
  background-color: rgb(227, 225, 225);
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.wrong {
  font-size: 1.6rem;
  color: rgb(255, 0, 0);
  line-height: 1.4;
  text-align: center;
}

.wrong img {
  width: 30%;
  margin-top: 130px;
  border: 3px solid white;
}